<blockquote class="blockquote float-left bq-primary">
    <h3 class="bq-title">Users</h3>
  </blockquote>

<table mdbTable hover="true">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let user of users">
        <th scope="row">{{user.name}}</th>
        <td>{{user.email}}</td>
        <td>{{user.isAdmin}}
          <input type="checkbox" [checked]="user.isAdmin" (change)="updateRole($event.target.checked)"/>
        </td>     
      </tr>
    </tbody>
  </table>