@import "../../../../assets/theme/colors";
@import "../../../../assets/theme/functions";


.bq-title{
  color: var(--productTitle) !important;
}

.bq-primary {
    border-left: 3px solid var(--productTitle) !important;
}

.btn-default {
  background-color: var(--navBackground) !important;
}


.product-detail .product-head {
  padding: 10px;
  font-weight: 500;
}

.product-detail .table th {
  width: 152px;
}

.product-ship {
  height: 15rem;
}
