
<div class="container pulldown" style="display: flex" >

<div class="left-section"> 
  <div class="contact-details" style="margin-bottom: 36px">
      <h5>Contact Details</h5> <br>
      Landline: +263 242 779 156/7<br>
      Website : www.attelecoms.co.zw<br><br>
      Email : sales@attelecoms.co.zw, support@attelecoms.co.zw<br>
      Facebook Page : www.facebook.com/attelecoms.co.zw<br>
      Address : Nedlew Complex, 202 Seke Road, Graniteside, Harare.<br>
  </div>
  <div class=" contact-form">
    <h5>Contact Us</h5>
    <form>
      <div>
          <label for="name">Name</label>
          <input id="name" type="text" class="form-control"/>
      </div>
      <div>
        <lable for="email">Email</lable>
          <input id="email"type="text" class="form-control"/>
      </div>
      <div>
        <label for="sub">Subject</label>
          <input id="sub"type="text" class="form-control"/>
      </div>
      <div>
        <label for="msg">Message</label>
        <textarea rows="4" id="msg"class="form-control"></textarea>
      </div>
      <button class="btn btn-default"type="submit">Send</button>
       
    </form>
  </div>
</div>
<div class="right-section"> 
</div>
</div>

