<!--Section: Products v.2-->


  <div class="row" style="width: 98%">
    <div class="col-md-6 col-sm-6">
      <blockquote class="blockquote float-left bq-primary">
        <h4 class="bq-title">Best Products</h4>
      </blockquote>
    </div>
    <div class="col-md-6 col-sm-6">
      
     <button class="btn btn-default float-right" mdbBtn type="button" rounded="true" mdbWavesEffect [routerLink]="[ '/products/all-products' ]">See More</button>
    </div>
  </div>

  <div *ngIf="loading" style="width: 98%">
    <app-card-loader [loop]="4" [height]="300"></app-card-loader>
  </div>

  <owl-carousel *ngIf="!loading" style="width:108px;"  [options]="options" [items]="bestProducts" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <!--First column-->
    <div class="item" style="padding:10px;  " *ngFor="let product of bestProducts;let i = index">
      <div class="mb-r">

        <!--Card-->
        <div class="card card-cascade wider">

          <!--Card image-->
          <a [routerLink]="['/products/product', product.$key]">
            <div class="view overlay hm-white-slight" style="display: flex; justify-content: center">
              <img [src]="product.productImageUrl" class="product-img" style="width:260px; height:240px "alt="" width="260px" height="240px">
              <a>
                <div class="mask waves-effect waves-light" mdbRippleRadius></div>
              </a>
            </div>
          </a>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-body text-center no-padding">
            <!--Category & Title-->
            <!-- <a href="" class="text-muted">
              <h5>{{ product.productName}}</h5>
            </a> -->
         

            <!--Description-->
            <p class="card-text">{{ product.productDescription }}
            </p>

            <!--Card footer-->
            <div class="card-footer">
              <span class="left">$ {{ product.productPrice }}</span>
              <span class="right">
                <a placement="top" mdbTooltip="Add to Wishlist" container="body">
                  <i class="fa fa-heart"></i>
                </a>
              </span>
            </div>
          </div>
          <!--/.Card content-->
        </div>
        <!--/.Card-->
      </div>
      <!--/First column-->
    </div>
  </owl-carousel>

<!--Section: Products v.2-->


