<br>
<div class="container-fluid pulldown" >
  <!-- <div class="row" *ngIf="authService.isAdmin()">
    <div class="col-sm">
      <div class="float-right">
        <button type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#exampleModalLong">
          Add Product
        </button>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-3 categories-side" >
      <div class="form-group" style="position: fixed;">
          <blockquote class="blockquote float-left bq-primary">
              <h3 class="bq-title">Categories</h3>
            </blockquote>
  
      </div>
      <br/><br><br>
        <ul class="list-group" style="position: fixed; width: 22%">
          <li *ngFor="let brand of brands" class="list-group-item hoverable">
            <a (click)="filterbyCat(brand)" >{{brand}}</a>
          </li>
       
        </ul>
 
    </div>
    <div class="categories-top pulldown">
      <div class="col-md-9 col-12">
        <label for="country">Categories</label>
        <select class="custom-select d-block w-100" style="width: 200px" id="country" required [(ngModel)]="selectedBrand" (change)="filterbyCategory()" name="country">
          <option *ngFor="let brand of brands" [value]="brand">{{brand}}</option>
        
        </select>
        <div class="invalid-feedback">
          Please select a valid country.
        </div>
      </div>
    </div>
    <div class="col-md-9 col-12">

      <div class="container pulldown">
        <app-card-loader [loop]="3" [height]="800" *ngIf="loading"></app-card-loader>
        <div class="row" *ngIf="!loading">
          <!-- List of Products -->
          <div class="col-sm-4 col-6 mb-2" style="margin-top: 0px; padding: 0px " *ngFor="let product of productList | filterByBrand: selectedBrand | paginate: { itemsPerPage: 6, currentPage: page }">
            <div class="item" >
              <div class=" mb-r">
                <!--Card-->
                <div class="card card-cascade  wider " >
                  <!--Card image-->
                  <a [routerLink]="['/products/product', product.$key]">
                    <div class="view overlay hm-white-slight" style="display: flex; justify-content: center">
                      <img [src]="product.productImageUrl" class="product-img img-fluid" alt="" 
                      >
                      <a>
                        <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                      </a>
                    </div>
                  </a>
                  <!--/.Card image-->
                  <!--Card content-->
                  <div class="card-body text-center no-padding">
                    <!--Category & Title-->
                    <a class="text-muted">
                      <h5>{{ product.productName  }}</h5>
                    </a>
                    <p class="card-title card-description">
                      <strong>
                        <a [routerLink]="['/products/product', product.$key]" routerLinkActive="router-link-active">{{
                          product.productCategory}}</a>
                      </strong>
                    </p> 
                    <!--Description-->
               
                    <!--Card footer-->
                    <div class="card-footer">
                      <span class="left">$ {{ product.productPrice }}</span>
                      <span class="right">
                        <a placement="top" mdbTooltip="Add to Wishlist" container="body" (click)="addFavourite(product)">
                          <i class="fa fa-heart"></i>
                        </a>
                        <a placement="top" mdbTooltip="Add to Cart" container="body" (click)="addToCart(product)">
                          <i class="fa fa-shopping-cart"></i>
                        </a>
                        <a placement="top" mdbTooltip="Remove Product" container="body" *ngIf="authService.isAdmin()"
                          (click)="removeProduct(product.$key)">
                          <i class="fa fa-trash"></i>
                        </a>
                      </span>
                    </div>

                  </div>
                  <!--/.Card content-->

                </div>
                <!--/.Card-->

              </div>
            </div>
          </div>
        </div>
        <!-- Pagination -->
        <div class="text-center mt-3">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
      <!--/.Card-->
    </div>
  </div>
</div>
<app-add-product></app-add-product>
